@keyframes donut-explosion {
    0% {
        width: 0;
        height: 0;
        color: white;
    }

    33%{

        color:green;
    }

    100%{
        width: 40rem;
        height: 40rem;
        border: 5rem solid blue;
        font-size: 48px;
    }
}

body {
    position: fixed;
    width: 10rem;
    height: 10rem;

    border: 5rem solid green;
    border-radius: 10rem;
    background-color: white;
    animation: donut-explosion 2s infinite alternate-reverse;